################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/.vs/WebApp/v15/Server/sqlite3
/WebApp/WebApp/bin/roslyn
/WebApp/WebApp/obj/Debug/WebApp.csproj.FileListAbsolute.txt
