<div class="row">
    <div class="col-md-12">
        <h4>Person details</h4>
        <p>ID: {{person.Id}}</p>
        <p>Name: {{person.Name}}</p>
        <p>Email: {{person.Email}}</p>
        <p><button class="btn btn-sm btn-info" ui-sref="persons">Back to persons list</button></p>
        <hr />

        <pre>$location.absUrl() = {{absUrl}}</pre>
        <pre>$location.host() = {{host}}</pre>
        <pre>$location.url() = {{url}}</pre>
        <pre>$location.path() = {{path}}</pre>
        <pre>$location.search() = {{search}}</pre>

        <pre>$route.current.templateUrl = {{templateUrl}}</pre>
        <pre>$route.current.params = {{params}}</pre>
        <pre>$route.current.scope.name = {{scopeName}}</pre>
    </div>
</div>